html, head, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.map {
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.map img {	
	width: auto;
	height: 100%;
}
